@inherits LayoutComponentBase
@inject IStringLocalizer<AppStrings> L

<div class="auth-layout">
    <div class="auth-container">
        <div class="auth-branding">
            <img src="/images/LogoCdm.svg" 
                 alt="@L["AppName"]" 
                 class="auth-logo" />
            <FluentLabel Typo="Typography.H3" Class="auth-title">
                @L["AppName"]
            </FluentLabel>
            <FluentLabel Typo="Typography.Body" Class="auth-subtitle">
                @L["AppTagline"]
            </FluentLabel>
        </div>
        
        <div class="auth-card">
            @Body
        </div>
        
        <FluentLabel Typo="Typography.Body" Class="auth-footer">
            @string.Format(L["Common_Copyright"], DateTime.Now.Year)
        </FluentLabel>
    </div>
</div>
